// _reddit.scss

#reddit-posts {
  position:relative;
  height:100%;
  width:100%;

  .reddit-post {
    margin-bottom: 35px;
  }
}

.media-body {
  position: relative;
}
.score {
  position:absolute;
  top:0;
  bottom: -10px;
  width:100%;
  height: 10px;
  text-align: center;
  font-size:15px;
  color: #4a4a4a;
}


.reddit-progress {
  position:fixed;
  top:0;
  left:0;
  z-index: 10000000;
  height: 3px;
  width:100%;

  background-color: #f8f8f8;
  border:none;
  box-shadow:none;

  .progress-bar {
    background-color:#fa5449
  }
}


.orangered {
  color:#fa5449;
}

#reddit-stop-stream {
  font-size:14px;
}